body {
  --background-primary: #0e0e0e;
  --background-secondary: black;
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);

  --cursor: pointer;

  --italic-color: #fed7aa;

  --text-normal: white;
}

/* Italics (including quote boxes) */
body:not(.default-font-color) em,
body:not(.default-font-color) span:not(.cm-highlight).cm-em {
  color: var(--italic-color);
}

/* alternate table backgrounds */
/* .markdown-rendered tbody tr:nth-child(2n) {
  background-color: var(--background-secondary);
} */